
/*-------Nav------*/

/*----Main--------*/
#cta {
  padding-top: 300px;
}

.beerpic1{
  height: 450px;
  margin-bottom: 3%;

}
#main-content{
  margin-top: 3%;
}

#main-content p{
 font-size: 32px;
 font-weight: 300;
}

.beer-name{
  font-size: 3em;
}
.ingredients{
  color: rgba(74, 77, 84,100)
}

h4 {
  color: rgba(74, 77, 84, 50)
}

.hidden {
  display: none;
}

/*----Footer----*/

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .profile-image {
    height: 300px;
  }

.search-image {
  height: 250px;
  margin-top: 20px;
  }

  .description {
    margin-left: 100px;
    margin-right: 100px;
  }

  .top-image {
    margin-top: 50px
  }

  .nav-wrapper {
    background-color: rgb(117, 69, 15)
  }

  .page-footer{
    background-color: rgb(117, 69, 15)
  }
