
/*--Sticky Footer Fix--*/

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}


/*-------Nav------*/

/*----Main--------*/
.beer-name{
  font-size: 3em;
}
.ingredients{
  color: rgba(74, 77, 84,100)
}

h4 {
  color: rgba(74, 77, 84, 50)
}

.hidden {
  display: none;
}

/*----Footer----*/
#bottom-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}

